
.container {
  border-radius: 8px;
  width: 50%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 500px;
  margin-bottom: 80%;
  margin-top: 80px;
}

.title h2 {
    color: #fff;
    text-shadow: 0 0 10px rgba(0,0,0,0.3);
    letter-spacing: 1px;    
}

.group {
    width: 30%;
}




